/* #app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

.swiper {
  width: 90%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  /* width: 14px; */
  /* height: 14px; */
  text-align: center;
  padding: 5px;
  /* font-size: 20px; */
  color: #000;
  opacity: 1;
  /* border: 1px solid #bef264; */
  outline: 1px solid #bef264;
  background: rgba(0, 0, 0, 0.5);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #bef264;
}
