@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  /* color-scheme: dark; */
}

/* .bg-lufy {
  background-image: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.section {
  position: absolute;
  inset: 0;
  top: 120px;
  max-width: 7xl;
  margin: 0 auto;
  padding-left: 6rem;
  padding-right: 6rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.25rem; 
}
.heroHeadText {
  font-weight: 900;
  color: white;
  font-size: 80px;
  line-height: 98px;
  margin-top: 2rem;
}

@media (max-width: 1023px) {
  .heroHeadText {
    font-size: 60px;
  }
}

@media (max-width: 767px) {
  .heroHeadText {
    font-size: 50px;
  }
}

@media (max-width: 575px) {
  .heroHeadText {
    font-size: 40px;
  }
}

.heroSubText {
  font-weight: 500;
  color: #dfd9ff;
  font-size: 30px;
  line-height: 40px;
}

@media (max-width: 1023px) {
  .heroSubText {
    font-size: 26px;
  }
}

@media (max-width: 767px) {
  .heroSubText {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .heroSubText {
    font-size: 16px;
  }
}

.sectionHeadText {
  color: white;
  font-weight: 900;
  font-size: 60px;
}

@media (max-width: 767px) {
  .sectionHeadText {
    font-size: 50px;
  }
}

@media (max-width: 575px) {
  .sectionHeadText {
    font-size: 40px;
  }
}

.sectionSubText {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--text-secondary);
}

@media (max-width: 767px) {
  .sectionSubText {
    font-size: 18px;
  }
}

.about-head {
  padding: 10px 6px; 
  max-width: calc(100% - 20rem); 
  margin: 0 auto;
  position: relative;
  z-index: 0;
}

@media (min-width: 640px) {
  .myElement {
    padding: 16px 6px;
  }
}

.about-text {
  margin-top: 1rem;
  color: white; 
  font-size: 17px;
  max-width: 48rem; 
  line-height: 1.875rem; 
} */
